<html>
  <head>
    <h1 style="color:white">Welcome to Boo's fan page!</h1>
    <body background="http://p.twimg.com/AsjRIWaCEAAxmDx.jpg:large">
  <head>
  <body>
    <form action="/" method="post">
		  <input type="text" name="name">
		  <input type="submit" value="save">
		</form>
		
		<% @all_users.each do |user| %>  
	  <%="#{user.name} "%>
		<% end %>

  </body>
</html>