<html>
  <head>
<style>
  body { 
  background-image: url("http://p.twimg.com/AsjRIWaCEAAxmDx.jpg:large");
  color:white;
  }
  h1,h2,h3,h4,h5,h6,p{
    color:white;
  }

</style>
  <!--     <link rel="stylesheet" type="text/css" href="../public/style.css" media="screen" /> -->
  <head>
  <body>
    <form action="/" method="post">
		  <input type="text" name="name">
		  <input type="submit" value="save">
		</form>
		

    <%= yield %>

  </body>
</html>
